body, body * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    height: 60px;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: flex-end;
    padding: 6px;
}

.navlinks a {
    display: inline-block;
    margin-left: 15px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.87);
}

.navlinks a:hover {
    text-decoration: underline;
}

.navlinks, .navother {
    font-family: arial,sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
    padding-right: 15px;
}

.navother {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 8px;
}

.navother div {
    display: inline-block;
}

#menu {
    width: 19px;
    height: 19px;
    margin: 0 20px
}

#pfp {
    width: 33px;
    height: 33px;
}

.main {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    margin-top: 49px;
}

.glogo {
    height: 92px;
    aspect-ratio: auto 272 / 92;
}