body, body * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial,sans-serif;
}

nav {
    height: 60px;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: flex-end;
    padding: 6px;
}

.navlinks a {
    display: inline-block;
    margin-left: 15px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.87);
}

.navlinks a:hover {
    text-decoration: underline;
}

.navlinks, .navother {
    font-family: arial,sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
    padding-right: 15px;
}

.navother {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 8px;
}

.navother div {
    display: inline-block;
}

#menu {
    width: 19px;
    height: 19px;
    margin: 0 20px
}

#pfp {
    width: 33px;
    height: 33px;
}

.main {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    margin-top: 49px;
}

.glogo {
    height: 92px;
    aspect-ratio: auto 272 / 92;
}

form {
    padding: 25px;
}

.sbar {
    width: 582px;
    height: 44px;
    padding: 5px 8px 0 16px;
    padding-left: 14px; 
    background: #fff;
    display: flex;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
}

input {
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    font-size: 16px;
    height: 34px;
}

.searchicon {
    color: #9aa0a6;
    fill: currentColor;
    line-height: 24px;
    width: 20px;
    height: 20px;
    margin: 7px 13px 9px 0;
}

.searchinput {
    width: 487px;
    height: 34px;
    margin-bottom: 37px;
    border: none;
    outline: none;
}

.searchmic {
    width: 24px;
    height: 24px;
    margin: 0 8px;
    margin-top: 4px;
}

.submit {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    margin-top: 4px;
}

.submit input {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px 0px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.goffer *, .goffer {
    display: inline-block;
    line-height: 28px;
    font-size: small;
    margin: 0 3px;
}